@media (max-width: 800px) {
    body section.second-header .left-links .today-story-list ul {
        li.img5 {
            z-index: -1;
            opacity: 0;
            left: -45px;
         }
    }
}


@media (max-width: 760px) {
    body section.second-header .left-links .today-story-list ul {
        li.img4 {
            z-index: -1;
            opacity: 0;
            left: -45px;
        }

    }
}
@media (max-width: 720px) {
    body section.second-header .left-links .today-story-list ul {
        li.img3 {
            opacity: 0;
            z-index: -1;
            left: -45px;
        }

    }
}
@media (max-width: 640px) {
    body section.second-header .left-links .today-story-list ul {
        li.img2{
            opacity: 0;
            z-index: -1;
            left: -45px;
        }

    }
}